body {
    background-color: #232123;
}

#rect {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.rect__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
}
.counter {
    background-color: #7B54C2;
    border: none;
    outline: none;
    width: 90px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}

.counter__toggle {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif ;
}

.counter ~ .counter {
    margin-left: auto;
}

.counter:active {
    background-color: lightcoral;
}

.counter__result {
    color: #fff;
    font-size: 124px;
    font-weight: bold;
    font-family: Arial, sans-serif ;
    flex-basis: 300px;
    order: -1;
    text-align: center;
}
.counter__field {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, sans-serif ;
    flex-basis: 100%;
    margin: 0 auto;
    text-align: center;
}
